import { Tags } from 'aws-cdk-lib';
import { Construct } from 'constructs';
import { Organization, OrganizationProps } from '../organization';

export interface ${ou^}Props extends OrganizationProps {
    readonly dependencies?: string[];
}

export abstract class ${ou^} extends Organization {
    constructor(scope: Construct, id: string, props: ${ou^}Props) {
        super(scope, id, props);

        Tags.of(this).add('ou', '$ou')

        this.ous.push('${ou}');
    }
}